body,html{
    background: #1a1a1a;
    color: white !important;
    font-family: "inconsolataregular" !important;
}

.container-fluid{
    background: #1a1a1a;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.card{
    position: relative;
    background: black !important;
    width: 40%;
    height: auto;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;
    display: flex;
}

.form-info{
    background: #1a1a1a;
    color: white;
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 15px;
}

textarea{
    background: #1a1a1a;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

.form-info:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.send-button{
    float: right;
    background: #1a1a1a;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .card {
      width: 60%;
    }
  }

@media screen and (max-width: 600px) {
    .card {
      width: 80%;
    }
  }